.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 80px;
  height: 100vh;
  background-color: #111;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

.logo {
  overflow: auto;

  color: white;
  font-size: 2rem;
  margin-bottom: 3rem;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.nav-item {
  color: white;
  font-size: 1.5rem;
  transition: color 0.3s ease;
  text-decoration: none;
}

.nav-item:hover {
  color: #f1c40f;
}
